<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>A&A ClubHouse</title>
      <!-- <script src="/cones.js"></script> -->

      <link rel="stylesheet" type="text/css" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
  </head>
    
<!--    margin-->
  <body>
<!--      chat entry box-->
      <section class="mainpage">
        <a href="/">back</a>
        <div>in 2019 <a href="https://ameliedinh.com">Amelie</a> and <a href="http://alden.website">Alden</a> decided to chat better</div>
      </section>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.js"></script>
      <script src="cones.js"></script>


      </body>
</html>

