<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>A&A ClubHouse</title>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
  </head>
    
<!--    margin-->
  <body>
<!--      chat entry box-->
<pre id="logo">
    ,---.              ,---.--.            ,---.              
    .--.'  \            /  -_ \==\         .--.'  \             
    \==\-/\ \           |` / \/==/         \==\-/\ \            
    /==/-|_\ |           \ \ /==/          /==/-|_\ |           
    \==\,   - \          /  \==/           \==\,   - \          
    /==/ -   ,|         /. / \==\          /==/ -   ,|          
   /==/-  /\ - \       | _ \_/\==\        /==/-  /\ - \         
   \==\ _.\=\.-'       \ . -  /\==\       \==\ _.\=\.-'         
    `--`                '----`-`--`        `--`                 
      _,.----.                                                  
    .' .' -   \   _.-.    .--.-. .-.-.   _..---.                
   /==/  ,  ,-' .-,.'|   /==/ -|/=/  | .' .'.-. \               
   |==|-   |  .|==|, |   |==| ,||=| -|/==/- '=' /               
   |==|_   `-' \==|- |   |==|- | =/  ||==|-,   '                
   |==|   _  , |==|, |   |==|,  \/ - ||==|  .=. \               
   \==\.       /==|- `-._|==|-   ,   //==/- '=' ,|              
    `-.`.___.-'/==/ - , ,/==/ , _  .'|==|   -   /               
               `--`-----'`--`..---'  `-._`.___,'                
    ,--.-,,-,--,   _,.---._                  ,-,--.     ,----.  
   /==/  /|=|  | ,-.' , -  `.  .--.-. .-.-.,-.'-  _\ ,-.--` , \ 
   |==|_ ||=|, |/==/_,  ,  - \/==/ -|/=/  /==/_ ,_.'|==|-  _.-` 
   |==| ,|/=| _|==|   .=.     |==| ,||=| -\==\  \   |==|   `.-. 
   |==|- `-' _ |==|_ : ;=:  - |==|- | =/  |\==\ -\ /==/_ ,    / 
   |==|  _     |==| , '='     |==|,  \/ - |_\==\ ,\|==|    .-'  
   |==|   .-. ,\\==\ -    ,_ /|==|-   ,   /==/\/ _ |==|_  ,`-._ 
   /==/, //=/  | '.='. -   .' /==/ , _  .'\==\ - , /==/ ,     / 
   `--`-' `-`--`   `--`--''   `--`..---'   `--`---'`--`-----``  
</pre>
      <section class="mainpage">
        <a href="/chat">chat</a>

        <a href="/about">about</a>
      </section>

      </body>
</html>

