chatbody {
    position: absolute;
    margin-left: 0px;
    top: 150px;
    background-color: #00e1ff;
    width: 500px;
    height: 400px;
    overflow: scroll;
    /* overflow-y: auto; */
    scroll-behavior: auto;    
  }


chatbody p {
    text-align: left;
    color: yellow;
    position: relative;
    max-width: 500px;
    overflow-wrap: break-word;
    padding: 2px 5px 5px 2px;
    margin: 0;
  }
  
  chatbody::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 0px;
}

chatbody::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
